

<!-- <p>inbox works!</p> -->
<label for="read">read</label>
<input type="checkbox" name="read" (click)="filter($event)">
<!--
<li *ngFor="let message of messages">

    {{message.from}}
    {{message.to}}
    {{message.subject}}
    {{message.body}}

</li> -->

<!-- <nb-card *ngFor="let message of messages">
  <nb-card-body>
    {{message.from}}
  </nb-card-body>
</nb-card> -->
<!--
<p>inbox works!</p> -->

<div class="container ">
	<table class="text-left w-full">
		<thead class="bg-black flex text-white w-full">
			<tr class="flex w-full ">
				<th class="p-4 w-1/4">FROM</th>
				<th class="p-4 w-1/4">TO</th>
				<th class="p-4 w-1/4">SUBJECT</th>
				<th class="p-4 w-1/4">BODY</th>
			</tr>
		</thead>
    <!-- Remove the nasty inline CSS fixed height on production and replace it with a CSS class — this is just for demonstration purposes! -->
		<tbody class="bg-grey-light flex flex-col items-center justify-between overflow-y-scroll w-full" style="height: 50vh;">
			<tr *ngFor="let message of messages" class="flex w-full mb-4">
				<td class="p-4 w-1/4">{{message.from}}</td>
				<td class="p-4 w-1/4">{{message.to}}</td>
				<td class="p-4 w-1/4">{{message.subject}}</td>
				<td class="p-4 w-1/4">{{message.body}}</td>
			</tr>
      </tbody>
	</table>
</div>
